.App {
  max-width: 960px;
  margin: 0 auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.App a {
  color: #0a3908;
}
header {
  text-align: center;
  font-size: 50px;
}

footer {
  text-align: center;
  margin: 30px 0;
}
